.divider {
	margin-top: 12px;
	margin-bottom: 12px;
	border-top: 1px solid #ddd;
}

/* Create a counter */
.begin {
	counter-reset: listcounter;
}

/* Remove default margin and numbering */
ol.begin li,
ol.continue li {
	list-style: none;
	list-style-position: outside;
	text-indent: -1.2em;
}

/* Display numbers from the listcounter */
ol.begin li:before,
ol.continue li:before {
	content: counter(listcounter, upper-roman) ". ";
	counter-increment: listcounter;
}

.h5 {
	font-weight: bold;
}

