.panel-group {
	margin-bottom: 10px;
	overflow: hidden;
}

.panel-group > .panel {
	background-color: #337ab7;
	cursor: pointer;
}

.panel-group > .panel:hover {
	background-color: #286090;
}

.panel-group > .panel > .panel-heading {
	line-height: 1.25;
}

.panel-group > .panel > .panel-heading > a {
	color: white;
}

.panel-group > .panel .panel-body {
	background-color: white;
}

.panel-collapse > .panel-body {
	line-height: 1.5;
	padding-top: 8px;
	padding-bottom: 8px;
}

h5, .h5 {
	font-weight: bold;
}

.subheader {
	font-style: italic;
	padding-top: 6px;
	padding-bottom: 10px;
}

.ref {
	font-weight: bold;
}

.divider {
	margin-top: 12px;
	margin-bottom: 12px;
	border-top: 1px solid #ddd;
}

/* Create a counter */
.begin {
	counter-reset: listcounter;
}

/* Remove default margin and numbering */
ol.begin li,
ol.continue li {
	list-style: none;
	list-style-position: outside;
	text-indent: -2.5em;
}

/* Display numbers from the listcounter */
ol.begin li:before,
ol.continue li:before {
	content: counter(listcounter, upper-roman) ". ";
	counter-increment: listcounter;
}

/** CSS to make dropdown look correct in nav-bar **/
.navbar-nav > li > .dropdown > a {
	padding: 15px;
	color: #fff;
	display: block;
}
.nav .open > a, .nav .open > a:focus,
.nav .open > a:hover {
    background-color: #b1441d;
    text-decoration: none;
}

.loginForm{
	border-radius:4px;
	padding:10px 10px 8px 10px;
	background-color:#EFEFEF;
	position:absolute;
	display: block;
	box-shadow: 0px 0px 3px #888888;
	position:absolute;
	display:block;
	z-index:1001;
	width: 225px;
}

#overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.5;
	filter:alpha(opacity=50); /* IE7 and earlier */
	z-index:1000;
}

.modalForm{
	border:1px solid #AAAAAA;
	border-radius:5px;
	background-color:#EFEFEF;
	position:absolute;
	display:none;
	z-index:1001;
}

.modalForm-content{
	padding: 10px 10px 8px 10px;
	line-height: 1.5em;
}

.modalForm-header{
	background-color:#C54C20;
	border-top-left-radius:2px;
	border-top-radius:2px;
	padding:2px 10px;
}

.tinymce_btn {
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: none;
	white-space: nowrap;
	padding: 4px 8px;
}

.toastMessage {
	display: none;
	position: fixed;
	bottom: 0;
	left: 2px;
	background-color: #f0f0f0;
	color: #666;
	padding: 2px 4px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #d0d0d0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
